.slider {
  position: relative;
  height: 60vh;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-img-container {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: -10px;
  font-size: 2rem;
  color: #464646;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

.slide-btn {
  position: absolute;
  left: 65%;
  bottom: 21%;
  padding: 0.5rem 1rem !important;
  border-radius: 2px;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: -10px;
  font-size: 2rem;
  color: #464646;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide-active {
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(0.9);
  display: flex;
  align-items: center;
  text-align: center;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.5rem;
}
